<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

        .namelogo{
            font-family: 'Inter', sans-serif;
            font-size: 25px;
            font-weight:800;
            color: #1864FF;
            padding: 1%;
        }
        .dashboardheading{
            font-family: 'Inter', sans-serif;
            font-size: 40px;
            font-weight:800;
            color: #1864FF;
        }

        .btn {
            min-width: 250px;
            background-color: #4E3388;
            color: white;
        }

        .columcolor
        {
            background-color: #ffe600a4;
        }

        .rotateicon{
            transform:rotate(0deg);
        }
        .rotateicon90{
            transform:rotate(90deg);
        }
        .rotateicon180{
            transform:rotate(180deg);
        }
        .rotateicon270{
            transform:rotate(270deg);
        }

        .spacebuttons {
        display: flex;
        justify-content:space-between; 
        }
        
    </style>
</head>


<body>

    <div class="namelogo">
        CoviBot
    </div>



    <div class="row justify-content-center dashboardheading">
        DashBoard
    </div>


    <div class="container columcolor">

        <div class="row">

            <div class="col-md-1 ">

            </div>

            <div class="col-md-5 flex justify-content-center">

                <br>

                    
                    <form action="{{url_for('additional_settings')}}" method="post">

                        <div class="row justify-content-center">
                            <label for="range_value" class="form-label"><h2>Specify Motor Speed</h2></label>  
                        </div>

                        <div class="row justify-content-center">
                            <input type="range" name="entered_motor_value" class="form-range" min="0" max="100" id="customRange2">
                        </div>

                            <br>

                        <div class="row justify-content-center">
                             <button type="submit" value="submit" class="btn btn-default btn-sm" >Set</button>  
                        </div>

                    </form>

                    <br>


                    <div>

                        <div class="row justify-content-center">
                            <label for="range_value" class="form-label"><h2>Turn Lights: <span id="lightstate">OFF</span></h2></label>  
                        </div>

                            <!-- <br> -->

                            <div class="row justify-content-center">


                                <div classs="col-md-5">
                                 <button class="btn" style="background-color: green;" onclick="lights_on()">ON</button>  
                                </div>
    
    
                                <div classs="col-md-5">
                                <button class="btn" style="background-color: red;" onclick="lights_off()">OFF</button>  
                                </div>
    
    
                            </div>
                            
                            <!-- <div class="row ">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                <button onclick="turn_lights_on()">ON</button>  
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <button onclick="()">OFF</button>  
                                </div>
                                <div class="col-md-2"></div>
                            </div> -->

                        <br>


                        <div class="row justify-content-center">
                            <label for="range_value" class="form-label"><h2>Kill Bacteria UV Lights: <span id="uvstate">OFF</span></h2></label>  
                        </div>

                            <!-- <br> -->
                            
                        <div class="row justify-content-center">


                            <div classs="col-md-5">
                             <button class="btn" style="background-color: green;" onclick="uv_on()">ON</button>  
                            </div>


                            <div classs="col-md-5">
                            <button class="btn" style="background-color: red;" onclick="uv_off()">OFF</button>  
                            </div>


                        </div>
                        

                    </div>
                    
              </div>
    
              <div class="col-md-5">

                <br>
                <br>
                <br>
                <br>

                <div class="row justify-content-end">
                    <button type="button" class="btn btn-default btn-lg " onclick="location.href = '/dashboard_1'">Take Control</button>
                    </div>
    
                    <br>
    
                    <div class="row justify-content-end">
                    <button type="button" class="btn btn-default btn-lg"  onclick="location.href = '/lockdown'">LockDown</button>
                    </div>
    
                    <br>
    
                    <div class="row justify-content-end">
                    <button type="button" class="btn btn-default btn-lg" onclick="location.href = '/monitoring'">Scan People</button>
                    </div>
    
                    <br>
    
                    <div class="row justify-content-end">
                    <button type="button" class="btn btn-default btn-lg" onclick="location.href = '/medicine'" >Give Medicine</button>
                    </div>
    
                    <br>
    
                    <div class="row justify-content-end">
                    <button type="button" class="btn btn-default btn-lg disabled" onclick="location.href = '/additional_settings'">Additional Settings</button>
                    </div>
    
                <br>
                <br>
                <br>
                    

              </div>

              <div class="col-md-1 ">

            </div>



        </div>

        

    </div>


            
        <script>

            // 10000 - forward
            // 01000 - left
            // 00100 - stop
            // 00010 - right
            // 00001 - backward


            function lights_on(){
                console.log("Lights On");
                document.getElementById("lightstate").innerHTML = "ON";
                let url = "/additional_settings/l1";
                document.location.href=url;
            }

            function lights_off(){
                console.log("Lights off");
                document.getElementById("lightstate").innerHTML = "OFF";
                let url = "/additional_settings/l0";
                document.location.href=url;
            }

            function uv_on(){
                console.log("UV on");
                document.getElementById("uvstate").innerHTML = "ON";
                let url = "/additional_settings/u1";
                document.location.href=url;
            }

            function uv_off(){
                console.log("UV off");
                document.getElementById("uvstate").innerHTML = "OFF";
                let url = "/additional_settings/u0";
                document.location.href=url;
            }
 
        </script>

        

        
</body>




</html>