<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoviBot</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
         .top-buffer { margin-top:20px; } 
    </style>
</head>
<body>
    
    <div class="container">
        <div class="top-buffer">

        </div>

        <div class="row">
            <div class="col-6">
        
            <button type="button" class="btn btn-primary">Primary</button>
            
            </div>

        </div>
    </div>


</body>
</html>